$color-primary: #0000FF

*
  box-sizing: border-box

body
  margin: unset
  font-family: Arial
  color: #000000AA

.page
  width: 210mm
  height: 296mm
  padding: 1cm

.container
  display: grid
  grid-template-areas: "sidebar-top intro" "standout standout" "sidebar-bottom main"
  grid-template-columns: 3fr 7fr
  grid-template-rows: 186px max-content
  height: 100%

.sidebar
  display: flex
  flex-direction: column
  gap: 1.5rem
  background: rgba($color-primary, .05)
  padding: 18px
  line-height: 1.5rem
  overflow-x: clip
  &__section
    font-size: 0.9em
    .section-heading
      font-size: 1.1rem
      color: #000000CC
      text-transform: uppercase
      font-weight: 800
      margin-bottom: .5em
  &--top,
  &--bottom
    @extend .sidebar
  &--top
    grid-area: sidebar-top
    margin-top: -1cm
    padding-top: 1cm
    padding-bottom: 30px
  &--bottom
    grid-area: sidebar-bottom
    margin-bottom: -1cm
    padding-bottom: 1cm
    padding-top: 30px

.title
  text-transform: uppercase
  font-size: 1.8rem
  line-height: 1.3em
  &__name
    color: $color-primary
    font-weight: 800
    padding-bottom: 0.5em
    letter-spacing: .05em
    line-height: 1.1em
  &__position
    font-weight: 500
    color: #000000CC
    font-size: 0.7em
    line-height: 1.3em

.skills
  display: flex
  flex-wrap: wrap
  gap: 10px
  &__skill
    display: inline-block
    position: relative
    background: $color-primary
    color: white
    padding: 3px 8px
    border-radius: 5px
    white-space: nowrap
    &--favorite
      @extend .skills__skill
      outline: 2px solid darkgoldenrod
      color: gold
      .fas
        color: gold
        font-size: 1.2em
        position: absolute
        top: -2mm
        right: -2.5mm

.language
  position: relative
  margin-bottom: 15px
  &::before
    position: absolute
    top: 100%
    right: 0
    bottom: -10px
    left: 0
    content: ' '
    background: #00000011
    border-radius: 5px
  &--english
    @extend .language
    &::after
      @extend .language::before
      background: $color-primary
      right: 10%
  &--german
    @extend .language
    &::after
      @extend .language::before
      background: $color-primary

.social-detail
  display: flex
  gap: 10px
  align-items: center
  i
    font-size: 1.2rem
    color: #000000CC

.standout
  grid-area: standout
  background: rgba($color-primary, .3)
  display: grid
  grid-template-columns: 3fr 7fr
  padding: 18px calc(1cm + 18px) 18px 18px
  margin: 0 -1cm 0 0
  .section
    @extend .sidebar__section
  .section:last-child
    margin-left: 30px
  .picture
    width: 100%
    transform: scale(1.5)
    &__frame
      border-radius: 20px
      overflow: clip
      height: 100%
      margin-right: 18px

.section
  font-size: 0.9em
  line-height: 1.5em
  .section-header
    display: flex
    .section-subheading
      margin-left: auto
  .section-heading
    font-size: 1.1rem
    text-transform: uppercase
    font-weight: 800
    margin-bottom: .5em
    color: $color-primary
  &--experience,
  &--projects,
  &--education
    @extend .section
.section + .section
  margin-top: 20px
  padding-top: 20px
  border-top: 5px solid #00000005
.page:first-of-type .main
  padding: 30px 0 0 30px

.intro
  grid-area: intro
  padding: 0 0 30px 30px

.experience,
.education
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 20px
  &__item
    .item__title
      text-transform: uppercase
      font-weight: 800
    .item__details
      display: flex
      flex-direction: column
      .fas
        width: 1em
.education
  display: flex
  flex-direction: column
  gap: 20px

.projects
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 20px
  .project
    display: flex
    gap: 1.8ch
    flex-direction: column
    background: #00000011
    padding: 10px
    border-radius: 0 20px 0 20px
    overflow: clip
    &__techs
      font-style: italic
    &__title
      font-weight: 800
      background: rgba($color-primary, .3)
      margin: -10px
      padding: 10px
      color: $color-primary
    &__time
      margin-top: auto
      text-align: right
